langchain
langchain-groq
langchain-core
tiktoken
pydantic
python-dotenv

# // PostgreSQL
psycopg
sqlalchemy
pgvector

# Embeddings
langchain-huggingface
sentence-transformers

# Version one installs
langgraph

